<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/"><i class="fas fa-fire-alt"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crew">Crew</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/equipment">Equipment</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Employee Certificate Management <i class="fas fa-fire-alt"></i></h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- Add Employee  -->
            <div class="card mb-4">
                <div class="card-header">Add Certificate</div>
                <div class="card-body">

                    <!-- Entry Form -->
                    <form>
                        <div class="form-group">
                            <label for="employee-name-input">Certificate Type</label>
                            <input class="form-entry" id="cert-type-input" placeholder="" type="text">
                        </div>
                        <div class="form-group">
                            <label for="role-input">Date issued</label>
                            <input class="form-entry" id="date-issued-input" placeholder="" type="text">
                        </div>
                        <div class="form-group">
                            <label for="start-input">Expiration Date</label>
                            <input class="form-entry" id="expiration-date-input" placeholder="" type="text">
                        </div>
                        {{#each Personnel}}
                        <button class="btn btn-primary float-right" id="add-cert-btn" data-personneluid={{uid}}>Submit</button>
                        {{/each}}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/addcerts.js"></script>
</div>