<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/"><i class="fas fa-fire-alt"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crew">Crew</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/equipment">Equipment</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Equipment Management <i class="fas fa-fire-alt"></i></h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- Add Employee  -->
            <div class="card mb-4">
                <div class="card-header">Add Equipment</div>
                <div class="card-body">

                    <!-- Entry Form -->
                    <form>
                        <div class="form-group">
                            <label for="type-input">Equipment Type</label>
                            <input class="form-entry" id="type-input" placeholder="" type="text">
                        </div>
                        <div class="form-group">
                            <label for="serial-number-input">Serial Number</label>
                            <input class="form-entry" id="serial-number-input" placeholder="" type="text">
                        </div>
                        <div class="form-group">
                            <label for="condition-input">Condition</label>
                            <select class="form-control" id="condition-input">
                                <option>Excellent</option>
                                <option>Good</option>
                                <option>Fair</option>
                                <option>Poor</option>
                                <option>Critical</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="service-date-input">Service Date</label>
                            <input class="form-entry" id="service-date-input" placeholder="" type="text">
                        </div>
                        <div class="form-group">
                            <label for="expiration-date-input">Expiration Date</label>
                            <input class="form-entry" id="expiration-date-input" placeholder="" type="text">
                        </div>
                        <button class="btn btn-primary float-right" id="add-equipment-btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/addequipment.js"></script>
</div>