<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/home"><i class="fas fa-fire-alt"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-bar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div id="collapse-bar" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crew">Crew</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/equipment">Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">My Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- The grid -->

    <div class="container" id="cards">
        <div class="col">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">Crew</div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Certifications</th>
                                            <th scope="col">Issue Date</th>
                                            <th scope="col">Exp. Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>