<!--Navbar here -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/home"><i class="fas fa-fire-alt"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-bar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="collapse-bar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crew">Crew</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/equipment">Equipment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">My Profile</a>
            </li>
        </ul>
    </div>
</nav>

<!-- The grid -->

<div class="container" id="cards">
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <img class="card-img-top" src="https://dummyimage.com/400x400/000/fff&text=Crew" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Crew Title</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <img class="card-img-top" src="https://dummyimage.com/400x400/000/fff&text=Equipment"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Equipment title</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <img class="card-img-top" src="https://dummyimage.com/400x400/000/fff&text=MyProfile"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">My Profile title</h5>
                </div>
            </div>
        </div>
    </div>
</div>