<!--Navbar here -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/"><i class="fas fa-fire-alt"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-bar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="collapse-bar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crew">Crew</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/equipment">Equipment</a>
            </li>
        </ul>
    </div>
</nav>

<!-- The grid -->

<div class="container" id="cards">
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <a href="/crew">
                    <img class="card-img-top" src="/images/firefighters.jpg" alt="Fire Fighters">
                    <div class="card-body">
                        <h5 class="card-title text-center">Crew</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <a href="/equipment">
                    <img class="card-img-top" src="/images/firetruck.jpg" alt="FireTruck">
                    <div class="card-body">
                        <h5 class="card-title text-center">Equipment</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>